<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anastasia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
      body 
      {
        background-color: #FFFFFF;
        color: #000;
        margin: 0px;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <script src="ThreeJS/three.js"></script>

    <script src="ThreeJS/libs/mmdparser.min.js"></script>
    <script src="ThreeJS/libs/ammo.js"></script>

    <script src="ThreeJS/loaders/TGALoader.js"></script>
    <script src="ThreeJS/loaders/MMDLoader.js"></script>
    <script src="ThreeJS/effects/OutlineEffect.js"></script>
    <script src="ThreeJS/animation/CCDIKSolver.js"></script>
    <script src="ThreeJS/animation/MMDPhysics.js"></script>

    <script src="ThreeJS/controls/OrbitControls.js"></script>

    <script src="ThreeJS/Detector.js"></script>
    <script src="ThreeJS/libs/stats.min.js"></script>
    <script src="ThreeJS/libs/dat.gui.min.js"></script>

    <script type="text/javascript" src="JQueryUI/JQuery.js"></script>
    <script type="text/javascript" src="JQueryUI/jquery-ui.js"></script>
    <script type="text/javascript" src="Bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="JQueryUI/jquery-ui.css">

